<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>readease</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Helvetica Black Condensed.otf</string>
		<string>Helvetica Black Condensed Oblique.otf</string>
		<string>Helvetica Bold Condensed.otf</string>
		<string>Helvetica Bold Condensed Oblique.otf</string>
		<string>Helvetica Bold Narrow Oblique.otf</string>
		<string>Helvetica CE Bold.otf</string>
		<string>Helvetica CE Bold Condensed.otf</string>
		<string>Helvetica CE Bold Condensed Oblique.otf</string>
		<string>Helvetica CE Bold Narrow.otf</string>
		<string>Helvetica CE Bold Narrow Oblique.otf</string>
		<string>Helvetica CE Bold Oblique.otf</string>
		<string>Helvetica CE Condensed Oblique.otf</string>
		<string>Helvetica CE Medium.otf</string>
		<string>Helvetica CE Medium Condensed.otf</string>
		<string>Helvetica CE Narrow.otf</string>
		<string>Helvetica CE Narrow Oblique.otf</string>
		<string>Helvetica CE Oblique.otf</string>
		<string>Helvetica Condensed Oblique.otf</string>
		<string>Helvetica Light Condensed.otf</string>
		<string>Helvetica Light Condensed Oblique.otf</string>
		<string>Helvetica Medium Condensed.otf</string>
		<string>Helvetica Ultra Compressed.otf</string>
		<string>Helvetica Bold Italic.ttf</string>
		<string>Helvetica BoldOblique.ttf</string>
		<string>Helvetica Roman.ttf</string>
		<string>Helvetica RomanItalic.ttf</string>
	</array>
</dict>
</plist>
